:root {
    --main-bg-color: #000000;
    --main-bg-color-rgba: rgba(0, 0, 0, .55);
    --nav-bg-color-rgba: rgba(100, 150, 255, .25);
    --main-text-color: white;
    --background-odd: rgba(255,255,255,.25);
    --background-even: #006994;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section, 
article,  
aside, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
nav,
footer {
    padding: 1%;
}

h2 {
    padding-left: 0;
}

body {
    max-width: 100%;
    margin: 0 auto;
    background-color: black;
    color: white;
}

nav {
    text-align: right;
    width: 75%;
    max-width: 80%;
    display: inline-block;
    padding: 2%;
}

.add-shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px
}

footer {
    text-align: center;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    display: inline;
}

header {
    width: 100%;
    max-width: 90%;
    padding: 1% 5%;
    display: inline-block;
    margin-bottom: -150px;
    position: fixed;
}

/* grid layout for header*/
header {
    display: grid;
    grid-template-areas: 
    "logo header nav";
    grid-template-columns: 20% 40% 40%;
}

.logo-image {
    display: grid;
    grid-area: logo;
    text-align: center;
    align-content: center;
}

.logo-image img {
    margin-top:1em;
}

.title, .title a, .title a:hover {
    grid-area: header;
    color: white;
    padding-top: 4%;
    text-decoration: none;
}

.top-nav {
    grid-area: nav;
    text-align: right;
}

/* nav styling*/
nav a:hover {
    text-decoration: underline;
    color: white;
}

header a {
    color: white;
    text-decoration: none;
    font-size: large;
    padding: 1%;
}

nav a {
    display: inline-block;
    padding: 1%;
    width: 20%;
    color: white;
    text-decoration: none;
}

nav {
    text-align: center;
}

header h1 {
    text-transform: uppercase;
}

header h1:hover {
    transform: scale(1.2);
}

/* icons */
.fa {
    display: grid;
    grid-area: header;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
}

/* github */
.fa-github {
  color: white;
}

/* linkedin */
.fa-linkedin {
  color: white;
}

main {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

/* general syling */
a:hover {
    color: #89093E;
}

footer a, main a {
    color: white;
}

cite {
    font-size: xx-small;
}

figure {
    width: 100%;
    margin-top: 1em;
}

figcaption {
    padding-bottom: .5em;
}

img {
    max-width: 50%;
}

p {
    padding-bottom: 1em;
}

/* grid layout for index */
.home {
    display: grid;
    grid-template-areas: 
        "banner banner"
        "page-heading page-heading"
        "section-one section-two" 
        "section-three section-four";
    grid-template-columns: 50% 50%;
    padding: 0;
}

.home-banner {
    grid-area: banner;
    padding: 20% 0 15% 10%;
    margin: 0 0 3% 0;
}

.home-banner h2, .home-banner h3 {
    color: #ffffff;
    text-align: left; 
    animation: 1.5s slide-right; 
}

@keyframes slide-right {
    from {
      margin-left: -100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


.home-banner h2 {
    font-size: 5rem; 
}

.home-banner h3 {
    font-size: 2rem;
}

.home-heading {
    grid-area: page-heading;
    padding: 1% 10%;
    font-size: 2rem;
}

.home p {
    font-size: 1.15em;
}

.home-text-right {
    grid-area: section-two;
    padding: 1% 25% 3% 5%;
}

.home-image-left {
    grid-area: section-one;
    padding: 1% 5% 5% 25%;
}

.home-text-left, .above-table {
    grid-area: section-three;
    padding: 1% 5% 5% 25%;
}

.home-image-right, .table-right {
    grid-area: section-four;
    padding: 1% 25% 3% 5%;
}

.home-text-right-2 {
    grid-area: section-six;
    padding: 1% 25% 3% 5%;
}

.home-image-left-2 {
    grid-area: section-five;
    padding: 1% 5% 1% 25%;
}

/* grid layout for about */

.details, .array {
    display: grid;
    grid-template-areas:
        "banner banner" 
        "page-heading page-heading"
        "section-one section-two"
        "section-three section-four"
    grid-template-columns: 30% 70%;
}

.details p, .array p {
    font-size: 1.18em;
}

.array-banner, .about-banner {
    grid-area: banner;
    padding: 5% 5%;
    margin: 0 0 3% 0;  
}

.about-banner h1, .array-banner h1 {
    padding: 3% 5% 8% 5%;
    text-align: left;
    color: white;
    font-size: 3rem;
}
.about-banner h2 {
    padding: 3% 5% 8% 5%;
    text-align: left;
    color: white;
    font-size: 3rem;
}

caption {
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* css classes */

.home-banner {
    background: 
    linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ), 
    url(../images/200626919_l_normal_none.png);
    background-size: cover;
    background-position: center;  
}

.form-banner {
    background: 
    linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ),
    url(../images/miata_form_header.JPG);
    background-size: cover;
    background-position: center;   
}

.about-banner {
    background: 
    linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ),
    url(../images/about_banner.jpg);
    background-size: cover;
    background-position: center; 
}

.array-banner {
    background: 
    linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ),
    url(../images/miata_array_header.JPG);
    background-size: cover;
    background-position: top; 
}

.main {
    width:90%;
    max-width: 1em;
}

.activePage {
    text-decoration: underline;
}
