/* header */
header {
    grid-template-areas: 
    "logo"
    "header" 
    "nav";
    grid-template-columns: 100%;
}

.title {
    text-align: center;
}

.top-nav {
    text-align: center;
}

.header {
    text-align: center;
}

#headerCurveText, #headerCurveText2 {
    margin-top: 3em;
}

/* index */

.home {
    grid-template-areas: 
        "banner"
        "page-heading"
        "section-one" 
        "section-two" 
        "section-three"
        "section-four";
    grid-template-columns: 100%;
}

.home-image-left {
    padding: 5%;
}
.home-text-right {
    padding: 5%;
}

.home-text-left, .above-table {
    grid-area: section-four;
    padding: 5%;
}

.home-image-right, .table-right {
    grid-area: section-three;
    padding: 5%;
}


/* details */
.details, .array {
    grid-template-areas: 
        "banner"
        "page-heading"
        "section-one"
        "section-two"
    grid-template-columns: 100%;
}

figure {
    margin: 1em auto;
}

