nav a {
    display: block;
    width: 100%;
}

.form h2 {
    padding-top: 30%;
}

.home-banner h2, .home-banner h3 {
    animation: none;
}

.home-banner h2 {
    font-size: 4rem;
}

.header {
    text-align: center;
}
